<h3 class="center">Create New Post</h3>


    <form class="form container col s12" action="/blogs" method="post" onsubmit="return validateForm()">
       <div class="row"> 
        <div class="input-field col s4">
            <label class="actve" name="first_name">First Name</label>
            <br>
            <input id="first_name" type="text" class="validate" name="firstName">  
        </div>
        <div class="input-field col s4">
            <label for="last_name">Last Name</label>
            <br>
            <input id="last_name" type="text" class="validate" name="lastName">  
        </div>
       
        <div class="input-field col s4">
            <label for="cohortID">Cohort ID</label>
            <br>
            <input id="cohortID" type="text" class="validate" name="cohortID">
        </div> 
        </div>
        <div class="row">
            <div class="input-field col s12">
             <label for="textarea1">Post</label>
              <br>
             <textarea id="textarea1" class="materialize-textarea" name="post"></textarea>        
            </div>
         </div>
        <div class="container center">
            <button class="btn waves-effect waves-light" type="submit">Submit
            </button> 
        </div>
    </form>



